/* GENERAL */

body
{
    font-family: 'Lato', sans-serif;
}

h1,h2,h3,h4,h5,h6
{
    font-weight: bold;
}

img
{
    max-width: 100%;
    height: auto;
}

section
{
    padding: 65px 0 80px 0;
}

section .heading
{
    text-align: center;
    padding-bottom: 40px;
}

section .heading h2
{
    text-transform: uppercase;        
}

.divider
{
    width: 100px;
    height: 2px;
    background-color: #285185;
    margin: 0px auto 20px;
}

.divider.white
{
    background-color: #CCD9E2;
}

ul
{
    list-style: none;
}

.btn1
{
    font-weight: bold;
    color: #CCD9E2;
    text-transform: uppercase;
    border: 1px solid #CCD9E2;
    padding: 18px 50px;
    display: inline-block;
    border-radius: 3px;
    text-decoration: none;
    margin-top: 20px;
    transition: all 0.3s ease-in 0s;
    background: transparent;
}

.btn1:hover
{
    background: #CCD9E2;
    color: #285185;
}

/* NAVBAR */

.navbar
{
    background: #285185;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid #333;
}

.navbar-nav
{
    margin: 0 auto;
    text-align: center;
}

.nav-link
{
    color: #CCD9E2 ! important;
    margin: 0 6px;
}

.nav-link.active, .nav-link:hover
{
    background-color: #CCD9E2;
    color: #285185 ! important;
    border-radius: 9px;
}

/* ABOUT */

#about
{
    background-color: #285185;
}

.profile-picture
{
    text-align: center;
    margin: 0px auto 30px;
}

#about .heading h1
{
    color: #CCD9E2;
    text-transform: uppercase;
    margin-bottom: 20px;
}

/* SKILLS */

#skills
{
    background-color: #CCD9E2;
}

#skills .heading h2
{
    color: #285185;
}

#skills .progress
{
    height: 45px;
    margin: 30px 20px;
}

#skills .progress:last-child
{
    margin-bottom: 0px;
}

#skills .progress-bar
{
    background-color: #285185;
}

#skills .progress-bar h5{
    text-shadow: 1px 1px 1px black;
    margin-bottom:  3px;
}

/*  EXPERIENCES */

#experience
{
    background-color: #285185;
}

#experience .heading h2
{
    color: #CCD9E2;
}

.timeline
{
    padding: 30px 10px;
    position: relative;
}

.timeline:before
{
    content: " ";
    top: 0;
    bottom: 0;
    position: absolute;
    width: 5px;
    background-color: #333;
    left: 50%;
    margin-left: -2.5px;
}

.timeline > li
{
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before, .timeline > li:after 
{
    content: " ";
    display: table;
}

.timeline > li:after
{
    clear: both;
}

.timeline li .timeline-badge
{
    color: #285185;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #d1dddb;
    border-radius: 50%;
}

.timeline-panel-container
{
    width: 50%;
    float: left;
}

.timeline-panel-container-inverted
{
    width: 50%;
    float: right;
}

.timeline-panel
{
    width: 90%;
    float: right;
    margin-right: 40px;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    background: #d1dddb;
}

.timeline-panel-container-inverted .timeline-panel
{
    float: left;
    margin-left: 40px;
}

.timeline-panel:after
{
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #CCD9E2;
    border-right: 0 solid #CCD9E2;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline-panel-container-inverted .timeline-panel:after
{
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-heading h3
{
    margin-top: 5px;
    font-size: 20px;
}

.timeline-heading h4
{
    margin-top: 5px;
    font-size: 20px;
    color: #285185;
}

/* FORMATIONS */

#formation
{
    background-color: #CCD9E2;
}

#formation .heading h2
{
    color: #285185;
    margin: 15px 0px;
}

.formation-block
{
    width: 90%;
    margin: 0 auto;
    text-align:  center;
    padding: 30px;
    background: #d1dddb;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.formation-block h5
{
    color: #888;
    font-size: 15px;
    margin-bottom: 15px;
}

.formation-block span
{
    font-size: 35px;
}

.formation-block h3
{
    color: #285185;
    margin: 15px 0px;
}

.formation-block h4
{
    margin-bottom: 20px;
    font-weight: normal;
}

/*  PORTFOLIO */

#portfolio
{
    background-color: #285185;
}

#portfolio .heading h2
{
    color: #CCD9E2;
}

#portfolio img 
{
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

#portfolio img:hover
{
    filter: none;
    -webkit-filter: none;
}

#portfolio .col-md-4
{
    margin-bottom: 20px;
}

/* RECOMMANDATION */

#recommendation
{
    background-color: #CCD9E2;
}

#recommendation .heading h2
{
    color: #285185;
}

#myCarousel .carousel-item
{
    padding: 30px 30px 90px;
}

#myCarousel .carousel-item h3
{
    color: #285185;
    font-style: italic;
}

/* FOOTER */

footer
{
    background-color: #333;
    padding: 20px 0 40px;
}

footer span
{
    color: #285185;
    font-size: 25px;
    line-height: 35px;
}

footer span:hover
{
    font-size: 30px;
}

footer h5
{
    color: #d1dddb;
    font-weight: normal;
}

/* CONTACT */

#contact
{
    background-color: #285185;
}

#contact .heading h2
{
    color: #CCD9E2;

}

#contact-form {
    font-size: 20px;
    color: #CCD9E2;
}

.form-control {
    height: 50px;
    font-size: 18px;
}

#contact-form input[type=submit] {
    margin: 40px auto 0px;
    display: block;
}

.comments {
    font-style: italic;
    font-size: 18px;
    color: #d82c2e;
    height: 25px
}

#contact-form .thank-you {
    color: #CCD9E2;
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
}
